extends ../../layout/layout.jade
//- index
block css
    //-link(href='#{page.app}css/modules/index/index.css', media='all', rel='stylesheet', type='text/css')
    link(href='#{page.static}css/all.css', media='all', rel='stylesheet', type='text/css')
    //- link(rel="import" href="#{page.app}js/libs/polymer/polymer.html")
    //- link(rel="import" href="#{page.app}js/libs/paper-button/paper-button.html")
    //- link(rel="import" href="#{page.app}js/libs/paper-input/paper-input.html")
block content
    #wrapper.container-page
        h2 Routines
        a(href="/admpanel/routine", class="btn btn-success") Nuevo
        section
            table(id="categoryTable", class="tables table-striped", data-url="/admpanel/routine-data",data-nofilter="1" ,data-col="name,action")
                thead
                    tr(class="info")
                        td Nombre
                        td(class="action")
        //- form(action="#")
        //- 	paper-input(label="Some label" pattern="[0-9]*" error="Input required")
        //- 	paper-input-container(pattern="[0-9]*" error="Input required" auto-validate)
        //- 		label Some label
        //- 		input(is="iron-input")
        //- 	paper-button(type="submit") Enviar
        //- a(href="javascript:;" class="btn btn-sup btn-material-pink btn-raised") Buton
    script(type="text/template", id="tplEdit", data-initial='/dummies/edituser.json')
        .modal-ctn
            form(action="#", data-parsley-validate, data-url='/dummies/edit.json', data-method="POST")#editForm
                input(type="hidden" value!="<%= id %>" name="id")
                header
                    h1 Editar Registro
                .modal-ctn--form
                    .form-group
                        //- label(for="name") Nombre
                        input(placeholder="Nombre", name="name", value!="<%= name %>", data-parsley-required="true").form-control.floating-label
                    .modal-ctn--actions
                        button.btn.btn-primary(type="submit") Enviar
    script(type="text/template", id="tplDelete")
        .modal-ctn
            form(action="#", data-parsley-validate, data-url='/dummies/delete.json', data-method="GET")#deleteForm
                input(type="hidden" value!="<%= id %>" name="id")
                header
                    h1 Confirmación
                .modal-ctn--form
                    .form-group
                        h4 ¿Desea eliminar este registro?
                    .modal-ctn--actions
                        button.btn.btn-primary(type="submit") Eliminar
                        a(href="javascript:;").btn.btn-danger.btn-danger--modal Cancelar
